<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    max-width: 400px;
}

#resultado {
    margin-top: 20px;
}

#qr-code {
    max-width: 200px;
    height: auto;
=======
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    max-width: 400px;
}

#resultado {
    margin-top: 20px;
}

#qr-code {
    max-width: 200px;
    height: auto;
>>>>>>> b16f573bee09901589c2998b582eb73978db5c3c
}